@import "tailwindcss";

button {
  cursor: pointer;
}

html {
  @apply text-white/70;
}

main {
  @apply p-4;
}

.hover-transition {
  @apply duration-200 transition-colors ease-in-out;
}

.container {
  @apply w-full max-w-[1440px] mx-auto;
}

@theme {
  /* colors */
  --color-dark-gray: #101828;
  --color-medium-gray: #364153;
  --color-light-gray: #99a1af;
}
