@import "tailwindcss";

button {
  cursor: pointer;
}

html {
  @apply text-white/70;
}

main {
  @apply p-4;
}

.hover-transition {
  @apply duration-200 transition-colors ease-in-out;
}

.container {
  @apply w-full max-w-[1440px] mx-auto;
}

@theme {
  /* colors */
  --color-dark-gray: #101828;
  --color-medium-gray: #364153;
  --color-light-gray: #99a1af;
}

/* styles/globals.css */

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #2f4f6f #1f2a3a; /* thumb, track */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #1f2a3a; /* track */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #2f4f6f; /* thumb */
  border-radius: 999px;
  border: 2px solid #1f2a3a; /* creates padding effect */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #3b6a88;
}
